body {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  font-size: 0.8rem;
}

#root {
  box-sizing: border-box;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(145deg, rgba(157,52,166,1) 0%, rgba(116,223,245,1) 100%);
}

