.App {
  margin: 0 auto;
  width: 500px;
  height: 400px;
  background-color: rgba(64, 61, 61, 0.6);
  padding: 20px 2px;
  box-shadow: rgb(0 0 0 / 40%) 0px 0px 20px 5px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.input-username {
  width: 100%;
  padding: 10px 5px;
  margin: 10px auto;
  border: none;
  border-radius: 3px;
}

.login-screen {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logout-btn {
  background-color: rgb(240, 128, 128);
  box-shadow: 0px 5px 15px rgba(240, 128, 128, 0.4);
  color: #fff;
}
.logout-btn:hover {
  background-color: rgb(236, 86, 86);
  box-shadow: 0px 5px 15px rgba(236, 86, 86, 0.4);
}

#chat-room {
  height: 60%;
  background-color: rgba(255, 255, 255, 0.6);
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.chat-room-lower-notifications {
  display: flex;

}

#chat-controls {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:white;
}

#message-input {
  padding: 5px;
  width: 70%;
  height: 100%;
  border: none;
  background-color: white;
  font-family:Arial;
  color: lightslategrey;
}

.msg {
  margin: 12px 5px;
  padding: 3px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: Arial;
  width: 70%;
  box-shadow: -2px 2px 5px -1px rgb(0 0 0 / 30%);
}
.your-msg {
  margin-left: auto;
  text-align: right;
}
.notification-message{
  font-family: Arial;
  font-weight: 600;
  font-style: italic;
  font-size: 0.7rem;
  background-color: transparent;
  text-align: center;
  margin: 12px 5px;
  padding: 3px;
}

.msg p {
  margin: 4px 2px;
  overflow-wrap: break-word;
}

.msg .username {
  font-weight: 600;
}

.user-typing {
  padding: 5px;
  margin: 10px 2px 5px 2px;
  font-style: italic;
}

textarea {
  resize: none;
}

button {
  margin: 10px;
  padding: 3px 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  background-color:white;
  border-radius:6px;
  border:none;
  display:inline-block;
  cursor:pointer;
  color: rgb(26, 25, 25);
  font-family:Arial;
  font-size:0.8rem;
  font-weight:bold;
  text-decoration:none;
}
button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 10px 15px rgba(46, 229, 157, 0.4);
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
}